<!--The content below is only a placeholder and can be replaced.-->
<div>
  <!-- header and title of section -->
  <div class="crud-wraper">
    <div class="header"></div>
  </div>
  <!-- Showing dashboard with information -->

  <div>
    <button mat-button (click)="openDialog()">Open dialog</button>
  </div>

  <div class="ScrollBar crud-box-wrapper">
    <app-table-users
      [users]="users"
      [pageSize]="pageSize"
      [length]="length"
      (onPageChange)="getListUsers($event)"
    ></app-table-users>
  </div>
</div>
