<div class="crud-table">
  <table mat-table [dataSource]="users">
    <ng-container matColumnDef="first_name">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let user">{{ user.first_name }}</td>
    </ng-container>

    <ng-container matColumnDef="last_name">
      <th mat-header-cell *matHeaderCellDef>Apellido</th>
      <td mat-cell *matCellDef="let user">{{ user.last_name }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Correo</th>
      <td mat-cell *matCellDef="let user">{{ user.email }}</td>
    </ng-container>

    <ng-container matColumnDef="avatar">
      <th mat-header-cell *matHeaderCellDef>Avatar</th>
      <td mat-cell *matCellDef="let user">
        <img
          [src]="user.avatar"
          [title]="user.first_name"
          [alt]="user.first_name"
          width="50"
        />
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    (page)="onPageChange.emit($event)"
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [showFirstLastButtons]="showFirstLastButtons"
    aria-label="Select page of users"
  >
  </mat-paginator>
</div>
