<div class="crud-table">
  <div class="crud-table-caption">
    <h6>Listado de usuarios</h6>

    <div class="flex">
      <div class="input-class">
        <input
          type="text"
          class="menus"
          placeholder="Buscar usuario"
          [formControl]="search"
        />
      </div>

      <button
        class="btn-register"
        (click)="openDialog()"
        title="Agregar usuario"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="users | filterUserByName: searchTerm">
      <ng-container matColumnDef="first_name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let user">{{ user.first_name }}</td>
      </ng-container>

      <ng-container matColumnDef="last_name">
        <th mat-header-cell *matHeaderCellDef>Apellido</th>
        <td mat-cell *matCellDef="let user">{{ user.last_name }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Correo</th>
        <td mat-cell *matCellDef="let user">{{ user.email }}</td>
      </ng-container>

      <ng-container matColumnDef="avatar">
        <th mat-header-cell *matHeaderCellDef>Avatar</th>
        <td mat-cell *matCellDef="let user">
          <img
            [src]="user.avatar"
            [title]="user.first_name"
            [alt]="user.first_name"
            width="50"
          />
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      (page)="onPageChange.emit($event)"
      [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      [showFirstLastButtons]="showFirstLastButtons"
      aria-label="Select page of users"
    >
    </mat-paginator>
  </div>
</div>
